.containers{
     position: relative;
}

.bg {
    background: url('../img/bg_img.jpg');
    height:35vh;
    background-size: cover; 
    -webkit-background-size: cover;/* 兼容Webkit内核浏览器如Chrome和Safari */ 
    -o-background-size: cover;/* 兼容Opera */  
    text-align: center;
    max-width: 100%;
}
.bg-blur {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.content{
    position: absolute;
    left: 0;
    top: 40%;
    width: 100%;
    text-align: center;
    font-size: 2em;
    color: #ffffff;
    transform:rotate(180deg);
}
